@import '../../styles.scss';

.card {
    flex-grow: 0;
    perspective: 150rem;
    -moz-perspective: 150rem;
    min-width: 18rem;
}

.section-cards {
    background-color: $color-black;
    padding: 5rem 0;
    font-family: "EB Garamond", Open Sans, sans-serif;
}

.card-deck {
    max-width: $grid-width;
    margin: auto;
    width: 100%;
}

.heading-secondary {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 400;
    display: inline-block;
    letter-spacing: .2rem;
    transition: all .2s;

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
    }

    @media (min-width: $bp-small) {
        font-size: 3rem;
    }
}
