.footer {
    background-color: #333;
    padding: 3rem 0;
    font-size: 1rem;
    color: #e5ece5;
    font-family: "EB Garamond", Open Sans, sans-serif;
    .footer-icon {
        width: 10rem;
    }
    .copyright-text {
        text-align: center;
    }
}