<div class="container-fluid footer">
    <div class="d-flex justify-content-center">
        <img class="footer-icon" src="../../assets/icon.png" alt="footer icon">
    </div>
    
    <div class="copyright-text" id="{{myId}}-description">
        <p>Built by Xinyi Zhao for a card game code exercise. Copyright &copy; 2021 All Rights Reserved by Xinyi Zhao.</p>
        <p>You are 100% allowed to use this webpage for personal purpose.</p>
        <p>Have fun playing with the cards!</p>
    </div>
</div>
