@import '../../styles.scss';

.navbar {
    font-family: "EB Garamond", Open Sans, sans-serif;
    font-size: 1.25rem;
    overflow: hidden;
    background-color: $color-grey-dark-3;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    opacity: 0.9;
    line-height: 1.5rem;

    .nav-title {
      a {
        color: $color-secondary-light;
        text-decoration: none;
      }
      @media (min-width: $bp-small) {
        font-size: 2rem;
      }
    }
    .navbar-brand {
      margin-right: 0;
      color: $color-secondary-light;
      text-transform: uppercase;
      @media (min-width: $bp-small) {
        display: inline-block;
      }
    }
  }

  .header {
    height: 85vh;
    background-image: url(../../assets/image.png);
    background-size: cover;
    background-position: top;
}

.search {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  &__input {
      width: 100%;
      padding: .75rem 1.5rem;
      transition: transform 250ms ease-in-out;
      color: $color-grey-light-2;
      background-color: rgba(0, 0, 0, 0);
      border-radius: 50px;
      border: 1px solid $color-secondary-dark;
      transition: all 250ms ease-in-out;
      
      &::placeholder {
          text-transform: uppercase;
          letter-spacing: 1.5px;
      }
      
      &:hover,
      &:focus {
          padding: .75rem 0;
          border: 1px solid transparent;
          border-bottom: 1px solid $color-secondary-dark;
          border-radius: 0;
          background-position: 100% center;
          outline: none;
      }

    @media (min-width: $bp-large) {
        width: 50%;
    }
  }
}