<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="nav-title my-3 mx-auto ml-sm-3">
        <a href="#" id="{{myId}}-title">Legends Card Gallery</a>
    </div>
    <div class="justify-content-center search mx-3" id="navbar">
        <input class="search__input"
               type="text"
               id="{{myId}}-searchbox"
               aria-label="Search Box" 
               placeholder="Enter a Card Name to Search" 
               #searchInput>
    </div>
</nav>

<header class="header">
</header>
