@import '../../styles.scss';
.card-img-top {
    padding: 0;
}

.card-body, .card-footer {
    padding: 10px 30px 15px;
}

.card-text {
    display: flex;
    justify-content: space-between;
}

.card-side {
    transition: all .8s;
    backface-visibility: hidden; // specify whether or not the back face of the rotated element should be visible to the user
    -webkit-backface-visibility: hidden; // for Safari
    -moz-backface-visibility: hidden; // for Firefox
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
}

.card-front {
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(-180deg);
    position: absolute; // absolutely position the back face so it can match the size of the front face
    top: 0;
    background-image: url('../../assets/card_back.jpeg');
    border-radius: .25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

::ng-deep {
    .card:hover {
        .card-front {
            transform: rotateY(-180deg);
        }
        .card-back {
            transform: rotateY(0deg);
        }
    }
}